.login-container {
	min-height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-card {
	max-width: 400px;
	width: 100%;
	padding: 1.5rem;
}

.login-title {
	text-align: center;
	margin-bottom: 1rem;
}

.btn-login {
	width: 100%;
}
